//Variables
$main-font: "Comic Sans MS", cursive, sans-serif;

body {
  background: url("../images/background_image.jpg") no-repeat center center fixed;
}

.container {
  text-align: center;
  margin-top: 200px;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #5FD47B;
  border-radius: 4px;
  color: #CCCCCC;
  padding: 30px;
  width: 600px;
  height: auto;

  .title {
    font-family: $main-font;
    text-align: center;
    color: #97D0D4;
  }
}

#quote {
  font-family: $main-font;
  font-size: 2em;
}

#author {
  font-family: $main-font;
  font-size: 1.5em;
}

.btn {
  margin-top: 40px;
  cursor: pointer;
}

.fa-twitter {
  padding-right: 10px;
}

@media screen and (max-width: 360px) {
  .container{
    width: auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 361px) and (max-width: 767px){
  .container{
    width: auto;
    margin-top: 20%;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .container{
    width: auto;
    margin-top: 20%;
  }
}
